<footer>
    <p>
        Thank you for visiting my site!!!
    </p>
    <p>Contact me at: robinson.booker11@gmail.com</p>
    <span id="fb">facebook</span>
    <span>
        Linked<a id="in">in</a>
    </span>
    <span id="ig">instagram</span>
</footer>