<style>
    body{
        background: #0a4 url("https://pixabay.com/get/ea33b10e28f4053ed1584d05fb1d4e97e07ee3d21cac104496f6c37da1ecbdbe_340.jpg") no-repeat fixed center;
        background-size: cover;
    }
    h1{
        text-align: center;
        margin-top: 100px;
        color: #050;
        font-size: 50px;
    }
    a{
        display: block;
        text-align: center;
        color: #080;
    }
    
</style>

<!DOCTYPE html>
<html>
    <head>
        <title>Deployment test app for "the webdeveloper bootcamp" Server has started!!!</title>
    </head>
    <body>
        <h1>About</h1>

        <a href="/">home</a>
    </body>
</html>
