<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Chocolate</title>
    <style>
        body{
            margin: 0;
        }
    
        nav{
            /*position: absolute;*/
            
            background-color: #adc;
            width: 100%;
            height: 200px;
        }
    
        h1{
            margin: 0;
            padding: 75px;
            color: #08d;
            font-family: "Quicksand", sans-serif;
            font-size: 60px;
            letter-spacing: 5px;
            text-shadow:
            0 0 10px #09e,
            0 0 20px #0af;
        }
        
        div{
            margin: 75px;
        }
        
        img{
            margin: 20px;
        }
    </style>
  </head>
  <body>
        <nav>
            <h1>The Live Journalist</h1>
        </nav>
        <img src="https://pixabay.com/get/e83db20a2cf71c22d2524518b7444795ea76e5d004b014429cf0c37ea7edb3_340.jpg">
        <div>
            <p>
                Chocolate is a typically sweet, usually brown, food preparation of roasted and ground cacao seeds. It is
                made in the form of a liquid, paste, or in a block, or used as a flavoring ingredient in other foods.
                <p>
                    In a survey of 100,000 people 90% chose <a href="#">75% dark chocolate</a> over
                    <a href="#">Dove milk chocolate</a>
                </p>
            </p>
              The earliest evidence of use traces to the Olmecs (Mexico), with evidence of
              chocolate beverages dating to 1900 BC.[1][2] The majority of Mesoamerican people made chocolate beverages, including
              the Maya and Aztecs.[3]
        </div>
  </body>
</html>