<style>
    body{
        background: #0a4 url("https://farm1.staticflickr.com/466/19540434491_984978d916.jpg") no-repeat fixed center;
        background-size: cover;
    }
    h1{
        text-align: center;
        margin-top: 100px;
        color: #dfd;
        font-size: 50px;
    }
    a{
        display: block;
        text-align: center;
        color: #fff;
    }
</style>

<!DOCTYPE html>
<html>
    <head>
        <title>Deployment test app for "the webdeveloper bootcamp" Server has started!!!</title>
    </head>
    <body>
        <h1>Home</h1>
        
        <a href="/about">about</a>
    </body>
</html>
