<!DOCTYPE html>
<html>
    <head>
        <title>Booker Robinson</title>
        <link rel="stylesheet" href="./styles/landing.css">
    </head>
    <body>
        
        <div id="me_img_container">
            <img id="me_img" src="./images/me.JPG">
        </div>
        <h1>Booker Robinson</h1>
        <!--<a href="/about">about</a>-->
    </body>
</html>
