<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>photos</title>
    <link rel="shortcut icon" type="image/x-icon" href="images\favicon-me.ico"/>
    <link rel="stylesheet" href="./styles/photos.css">
    <link rel="stylesheet" href="./styles/nav.css">
  </head>
  <body>
    <% include partials/nav %>
    <h1>Photos</h1>
  <section>

    <div class="image">
      <img src="images/photos/grass.jpg" alt="">
    </div>
    <div class="image">
      <img src="images/photos/oceanRocks.jpg" alt="">
    </div>
    <div class="image">
      <img src="images/photos/dwarf-tree.jpg" alt="">
    </div>
    <div class="image">
      <img src="images/photos/orange-sunset.jpg" alt="">
    </div>
    <div class="image">
      <img src="images/photos/homecabin.jpg" alt="">
    </div>
    <div class="image">
      <img src="images/photos/sunset-tree.jpg" alt="">
    </div>
  </section>
  </body>
</html>
