<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>photos</title>
    <link rel="shortcut icon" type="image/x-icon" href="images\code-b.ico"/>
    <link rel="stylesheet" href="./styles/photos.css">
    <link rel="stylesheet" href="./styles/nav.css">
    <link rel="stylesheet" href="./styles/footer.css">
  </head>
  <body>
    <% include partials/nav %>
    <h1>My Photos</h1>
  <section>

    <div class="image">
      <a href="photos/grass.jpg">
        <img src="images/photos/min/grass-min.jpg" alt="">
      </a>
    </div>
    <div class="image">
      <a href="photos/oceanRocks.jpg">
        <img src="images/photos/min/oceanRocks-min.jpg" alt="">
      </a>
    </div>
    <div class="image">
      <a href="photos/dwarf-tree.jpg">
        <img src="images/photos/min/dwarf-tree-min.jpg" alt="">
      </a>
    </div>
    <div class="image">
      <a href="photos/orange-sunset.jpg">
        <img src="images/photos/min/orange-sunset-min.jpg" alt="">
      </a>
    </div>
    <div class="image">
      <a href="photos/homecabin.jpg">
        <img src="images/photos/min/homecabin-min.jpg" alt="">
      </a>
    </div>
    <div class="image">
      <a href="photos/sunset-tree.jpg">
        <img src="images/photos/min/sunset-tree-min.jpg" alt="">
      </a>
    </div>
    <button id="next">Next>></button>
  </section>
  <% include partials/footer %>
  </body>
</html>
