<!DOCTYPE html>
<html>
    <head>
        <title>Booker Robinson Projects</title>
        <link rel="shortcut icon" type="image/x-icon" href="images\code-b.ico"/>
        <link rel="stylesheet" href="./styles/projects.css">
        <link rel="stylesheet" href="./styles/nav.css">
        <link rel="stylesheet" href="./styles/footer.css">
    </head>
    <body>
        <% include partials/nav %>
        <section>
            <div class="project">
              <a class="img-a" href="https://live.thecolorgreen.xyz">
                <img class="project-image" src="images/thecolorgreen.png">
              </a>
              <p>
                The Color Green
              </p>
            </div>
            <div class="project">
                <a class="img-a" href="https://guarded-caverns-84533.herokuapp.com">
                  <img class="project-image" src="images/sat-app.png">
                </a>
                <p>
                  SAT vocabulary word tester
                </p>
            </div>
        </section>
        <% include partials/footer %>
    </body>
</html>
