<!DOCTYPE html>
<html>
    <head>
        <title>Booker Robinson Projects</title>
        <link rel="stylesheet" href="./styles/projects.css">
    </head>
    <body>
        <a href="/"><=</a>
        <h1><a class="project" href="http://live.thecolorgreen.xyz">http://live.thecolorgreen.xyz</a></h1>
    </body> 
</html>
