<!DOCTYPE html>
<html>
    <head>
        <title>Booker Robinson Projects</title>
        <link rel="shortcut icon" type="image/x-icon" href="images\favicon-me.ico"/>
        <link rel="stylesheet" href="./styles/projects.css">
        <link rel="stylesheet" href="./styles/nav.css">
    </head>
    <body>
        <% include partials/nav %>
        <!--<a href="/"><=</a>-->
        <!--<h1><a class="project" href="http://live.thecolorgreen.xyz">http://live.thecolorgreen.xyz</a></h1>-->
        <section>
            <div class="project">
              <a class="img-a" href="http://live.thecolorgreen.xyz">
                <img class="project-image" src="images/thecolorgreen.png">
              </a>
              <p>
                The Color Green:  Webapp
              </p>
            </div>
            <div class="project">
              <a class="img-a" href="projects/circlegame">
                <img class="project-image" src="images/circles.png">
              </a>
              <p>
                Circle Game: Game
              </p>
            </div>
        </section>
    </body>
</html>
