<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Resume v1 #1</title>
    <link rel="shortcut icon" type="image/x-icon" href="images\code-b.ico"/>
    <link rel="stylesheet" href="/styles/resumevone.css">
    <link rel="stylesheet" href="/styles/footer.css">
  </head>
  <body>

    <div class="Address">
        <h4>Address</h4>
        <h5>km 10 carr 106 Mayaguez PR</h5>
        <h4>Contact</h4>
        <span>email: <strong>robinson.booker@gmail.com</strong></span>
        <h4>phone number: 787~698~5269</h4>
    </div>

    <h1>Booker Robinson</h1>

    <div class="Skills">
      <h2>Skills</h2>
      <ul>
        <li>EJS and HTML/CSS templates</li>
        <li>Bootstrap, SemanticUI</li>
        <li>node.js/express</li>
        <li>mongoDB/mongoose</li>
        <li>javaScript, jQuery, AJAX Requests</li>
      </ul>
    </div>

    <div class="Skills">
       <h2>Other Intrests</h2>
       <ul>
         <li>Latin Dance</li>
         <li>Piano</li>
         <li>Chess</li>
       </ul>
    </div>
    <% include partials/footer %>
  </body>
</html>
