    body{
        margin: 0;
        background-color: #66b4ff;
    }
    header h1{
        text-align: center;
        font-size: 50px;
    }

    header h2{
        text-align: center;
    }
    a{
        text-decoration: none;
    }


    #image-me{
        margin: 0 auto;
        height: 300px;
        width: 200px;
    }

     #image-me img{
        height: 100%;
    }
