body{
  margin: 0;
  background: #0a4 linear-gradient(#ddf, #55f) no-repeat fixed center;
  background-size: cover;
}
h1{
  text-align: center;
}

section{
  margin: 0 auto;
  width: 90vw;
}


.image{
  display: inline-block;
  margin: 0 auto;
  width: 29vw;
}

.image img{
  width: 100%;
}

@media (max-width: 1000px) {
  .image{
    display: inline-block;
    margin: 0 auto;
    width: 49%;
  }
}
