body{
  margin: 0;
  background-color: #ddd;
}
h1{
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  color: #333;
  font-size: 60px;
}

section{
  margin: 0 auto 120px auto;
  width: 90vw;
}


.image{
  display: inline-block;
  margin: 0 auto;
  width: 29vw;
}

.image img{
  width: 100%;
}

#next{
  float: right;
  margin: 20px 100px;
  padding: 20px 30px;
  font-size: 30px;
  background-color: #f80;
  border: none;
  cursor: pointer;
}

@media (max-width: 1000px) {
  .image{
    display: inline-block;
    margin: 0 auto;
    width: 49%;
  }
}
