body{
  margin: 0;
  background-color: #66b4ff;
}
h1{
  text-align: center;
}

section{
  margin: 0 auto;
  width: 90vw;
}


.image{
  display: inline-block;
  margin: 0 auto;
  width: 29vw;
}

.image img{
  width: 100%;
}

.image img:hover{
  opacity: 0.8;
}

@media (max-width: 1000px) {
  .image{
    display: inline-block;
    margin: 0 auto;
    width: 49%;
  }
}
